/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --lightGray: rgba(241, 241, 241, 0.8);
}

body {
    background-image: url('/images/nissan-gtr.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.navbar .logo {
    max-height: 50px;
    padding-right: 100px;
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding:10px 30px;
    border-radius: 20px;
}

.reservation-section {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

.card.vehicle, .vehicle-details .list-group-item {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}


/* Footer */
footer {
    margin-top: 2rem;
    text-align: center;
    padding: 10px 10px 0px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.card {
    float: none;
    margin: 0 auto 10px;
}



