<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::myHead"></head>


<body>

<div th:replace="fragments/common :: myNavbar">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-white p-3">Edit Vehicle</h2>
    <form th:action="@{/vehicle/{id}/edit(id=*{id})}" th:method="PATCH" th:object="${vehicleEditBindingModel}"
          enctype="multipart/form-data"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label for="registrationNumber" class="text-white font-weight-bold">Registration number</label>
                <input name="registrationNumber"
                       id="registrationNumber" type="text" min="0" step="100" class="form-control"
                       th:field="*{registrationNumber}"
                       th:errorclass="is-invalid"
                       placeholder="Registration number"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Registration number is required, min 100.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="vehicleTypeEnum">Vehicle type</label>
                <select th:errorclass="is-invalid" name="vehicleTypeEnum"
                        id="vehicleTypeEnum"
                        th:name="vehicleTypeEnum"
                        class="form-control">
                    <option value="">- Select the type of your vehicle -</option>
                    <option th:each="aVehicleType: ${vehicleTypes}"
                            th:value="${aVehicleType}"
                            th:text="${aVehicleType}"
                            th:selected="${aVehicleType} ==*{vehicleTypeEnum}"
                    > Vehicle type
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Vehicle type is required.
                </p>
            </div>
        </div>


        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input th:field="*{year}" th:errorclass="is-invalid" name="year"
                       id="year" type="number" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Manufacturing year is required, and must be after 1930.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="carBrand" class="text-white font-weight-bold">Car brand</label>
                <input th:field="*{brand}" th:errorclass="is-invalid" name="carBrand"
                       id="carBrand" type="text" min="0" step="100" class="form-control"
                       placeholder="Car brand"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Brand is required.
                </p>
            </div>
        </div>


        <div class="form-group">
            <label for="year" class="text-white font-weight-bold">Add new vehicle's picture</label>
            <input name="picture" class="text-white" type="file"/><br>
        </div>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Edit Vehicle"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

<footer th:replace="fragments/common::myFooter">
    Footer
</footer>

</html>