<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::myHead"></head>


<body>

<div th:replace="fragments/common :: myNavbar">
    Navbar
</div>

<main class="p-5 align-content-center bg-blur my-main">
    <h3 class="text-light border-left pl-2">Want to find out how to charge an electric car?</h3>
    <h3 class="text-light border-left pl-2">Just watch this video!</h3>
    <div class="d-flex justify-content-center">
        <div class="my-index-div w-50">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UMYtOinyg6A?controls=0"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</main>

</body>

<footer th:replace="fragments/common::myFooter">
    Footer
</footer>

</html>